@media screen and (max-width: 900px) {
    body {
        padding: 0 5px !important;
    }
}

body {
    background-color: #212121;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding-left: 15%;
    padding-right: 15%;
}

#banner {
    width: 90%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

a:active, a{
    color: orange;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid white;
}

tr.header td
{
    border: 1px solid white;
    text-align: center;
}

td
{
    border: 1px solid white;
}
