@media screen and (max-width: 500px) {
    body {
        padding: 0 5px !important;
    }
}

html {
    height: 100%;
}

body {
    background-color: #212121;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding-left: 15%;
    padding-right: 15%;
    height: 100%;
}

#banner {
    width: 90%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

a:active, a{
    color: orange;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid white;
}

tr.header td
{
    border: 1px solid white;
    text-align: center;
}

td
{
    border: 1px solid white;
}

.quick-links-container {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 0;
    justify-content: center;
}
.quick-links-container li {
    display: flex;
    text-decoration: none;
    width: 30%;
    height: 100%;
    margin: 0 10px;
}

.quick-links-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: orange;
    color: white;
    border-radius: 5px;
    border: solid #212121 2px;
    font-weight: bolder;
    padding: 0 5px;
}

.quick-links-container a:hover {
    background-color: #212121;
    color: orange;
    border-radius: 5px;
    border: solid orange 2px;
}

.updates-feed {
    overflow-y: scroll;
    height: 30%;
    background-color: #212100;
    padding: 0 5%;
    border-radius: 2%;
}

.updates-feed h3 {
    margin: 0%;
    color: orange;
}

.updates-feed p {
    margin: 0%;
}

.update {
    margin-bottom: 10px;
}
